@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*-----------------------------------------------------
transition-duration: ; - определяет промежуток времени в течении которого будет происходить переход, значение указывается как в секундах, так и в милисекундах
transition-property: ; - применяется к какому-либо свойству, то есть мы можем сделать анимацию только для определённого свойства, по типу background-color: ;, но так же можно изменить в анимации все свойства, значением ,по умолчанию, all
transition-delay: ; - задержка выполнения перехода, позволяет сделать так чтобы изменение свойства поисходило не моментально, а с некоторой задержкой, значения указываются в сек и миллисек
transition-timing-function: ; - заадёт стиль перехода. Значения: 1)ease - вначале анимация происходит медленно, затем ускоряется к середине. 2)ease-in - начинается плавно и ускоряется в конце. 3)ease-out - переход начинается быстро и и плавно замедляется в конце. 4)ease-in-out - медленно начинается и медленно заканчивается. 5)linear - переход происходит равномерно, без скачков и колебаний. 6)steps(10, start) - разбивает переход на равные части, первое значение - кол-во частей, второе когда начинается анимация. 7)cubic-bezier - функция с помощью которой мы можем сами создать свой сценарий анимации, указывая различные значения от начала до конца анимации
-----------------------------------------------------*/
.button {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
