@import"nullstyle";

/*-----------------------------------------------------
transition-duration: ; - определяет промежуток времени в течении которого будет происходить переход, значение указывается как в секундах, так и в милисекундах
transition-property: ; - применяется к какому-либо свойству, то есть мы можем сделать анимацию только для определённого свойства, по типу background-color: ;, но так же можно изменить в анимации все свойства, значением ,по умолчанию, all
transition-delay: ; - задержка выполнения перехода, позволяет сделать так чтобы изменение свойства поисходило не моментально, а с некоторой задержкой, значения указываются в сек и миллисек
transition-timing-function: ; - заадёт стиль перехода. Значения: 1)ease - вначале анимация происходит медленно, затем ускоряется к середине. 2)ease-in - начинается плавно и ускоряется в конце. 3)ease-out - переход начинается быстро и и плавно замедляется в конце. 4)ease-in-out - медленно начинается и медленно заканчивается. 5)linear - переход происходит равномерно, без скачков и колебаний. 6)steps(10, start) - разбивает переход на равные части, первое значение - кол-во частей, второе когда начинается анимация. 7)cubic-bezier - функция с помощью которой мы можем сами создать свой сценарий анимации, указывая различные значения от начала до конца анимации
-----------------------------------------------------*/


.button{
  transition-duration: 1s;
  transition-property: all;
  transition-delay: 1s; 
  transition-timing-function: ease;
}
