@import"nullstyle";

/*-----------------------------------------------------
@keyframes - ключевые кадры. Запись:
@keyframes white-circle{
  /*from{

  }
  to{

  }*/
  /*0%{
    left: 0;
  }
  100%{
    left: 500px;
  }
}, где from/0% - начало, а to/100% - конечный результат
animation-name: <имя ключевых кадров>, <имя ключевых кадров 2>; - приоритет у последней записи, имя анимации чувствительна к регистру и не допускается использование ключевого слова none, его можно использовать для отключения анимации 
animation-duration: <время>, <время 2>; - отвечает за продолжительность анимации, время за которое проигрываются ключевые кадры 
animation-timing-function: <name>,<name 2>; - задаёт сценарий развити анимации между ключевыми кадрами, значение по умолчанию ease, так же можно указывать другие значения через запятую
animation-iteration-count: <значение>,<значение 2>; - отвечает за кол-во повторов ключевых кадров, значение по умолчанию 1, кроме числового значения есть значение infinite, что заставляет проигрываться анимацию бесконечно
animation-direction: <значение>,<значение 2>; - определяет тип и направление проигрывание ключ кадров. Значение alternate - каждый четный проход по ключ кадрам будет проигрываться в обратную сторону(ping-pong). Значение alternate-reverse - каждый нечетный. Значение reverse - обратная анимация.
animation-play-state: ; - позволяет запускать/приостанавливать анимацию по определённому событию. Значения: 1)running - анимация продолжается, значение по умолчанию 2)paused - приостанавливает анимацию, используется с hover 3)none - сбрасвает анимацию
animation-delay: <время>,<время 2>; - задержка анимации перед началом
animation-fill-mode: <значение>,<значение2>; - определяет какие значения анимируемых свойств применятся после завершения анимации. Значение по умолчанию none. Значение forwards - 
-----------------------------------------------------*/


.body{

}

.content{
  padding: 50px;
}
.content__circle{
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  position: relative;
  left: 0;
  animation-name: white-circle;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
.content__circle:hover{
  animation-play-state: paused;
}

@keyframes white-circle{
  /*from{

  }
  to{

  }*/
  0%{
    left: 0;
  }
  50%{
    border-radius: 0%;
  }
  100%{
    left: 500px;
  }
}

