@import"nullstyle";

body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1480px;
  margin: 0px auto;
}
@media (max-width:1480px){
  .container{
    max-width:970px;
  }
}
@media (max-width:992px){
  .container{
    max-width:750px;
  }
}
@media (max-width:767x){
  .container{
    max-width:none;
  }
}
.content {
  flex: 1 1 auto;
}
.hi {
  background-color: rgba(52, 80, 111, 0.659);
  padding: 50px;
}
.hi__row {
  display: flex;
}
.hi__body {
  color: white;
  padding: 0 30px 0 0;
}
.hi__title {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.686);
  font-size: 60px;
  margin: 0px 0px 38px 0px;
}
.hi__list {
}
.hi__list li{
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.624);
  font-size: 20px;
  line-height: 22px;
  padding: 0 0 0 36px;
  margin: 0 0 15px;
}
.hi__list li:last-child{
  margin: 0;
}
.hi__image {
  flex: 0 0 150px;
}

.title {
  color: rgb(94, 94, 94);
  font-size: 30px;
  line-height: 36px;
}
.what {
  padding: 50px;
}
.what__row {
  display: flex;
}
.what__image {
  flex: 0 0 430px;
}
.what__body {
  flex: 1 1 auto;
  padding: 0 0 0 38px;
}
.what__title {
  margin: 0 0 33px 0px;
}
.what__text {
}
.what__text p{
  margin: 0 0 24px;
  color: rgb(77, 77, 77);
  font-size: 16px;
  line-height: 24px;
}

.colums {
  background-color: rgba(243, 243, 243, 0.809);
  padding: 50px 0 20px;
}
.colums__title {
  text-align: center;
  margin: 0 0 30px;
}
.colums__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.colums__colum {
  padding: 0 8px;
  flex: 1 1 58%;
  margin: 30px;
}
.colums__item {
  
}
.item {
  /*display: flex;
  justify-content: space-between;*/
}
.item__row {
  display: flex;
}
.item__image {
  border: 1px solid black;
  flex: 0 0 200px;
}
.item__body {
  flex: 1 1 auto;
  padding: 0 0 0 15px;
}
.item__title {
  color: rgb(167, 167, 167);
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 13px;
}
.item__text {
  color: rgb(174, 174, 174);
  font-size: 16px;
  line-height: 24px;

}

.footer {
  background-color: rgb(238, 238, 238);
}
.footer__row {
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
}
.footer__text {
  color: rgb(96, 106, 181);
  font-size: 12px;
  letter-spacing: 0.3px;
}